<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>GCMobile.html</welcome-file>
  </welcome-file-list>
  
  <servlet>
   <servlet-name>ManifestServlet</servlet-name>
   <servlet-class>com.googlecode.mgwt.linker.server.MGWTHtml5ManifestServlet</servlet-class>
 </servlet>

  <servlet-mapping>
    <servlet-name>ManifestServlet</servlet-name>
    <url-pattern>/showcase.manifest</url-pattern>
  </servlet-mapping>

</web-app>
